$default-cell-height: 29.2px;

body {
  width: 1118px;
  height: 1280px;
  //background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(./after.jpg) no-repeat;
  text-align: center;
  margin: 8px 0;

  .title {
    font-size: 30px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.1px;

    .span-1 {
      position: relative;
      top: 1px;
      left: -5px;
    }

    .span-2 {
      position: relative;
      left: 5px;
    }
  }

  .grid {
    margin: 17px 2px;
    width: 1111px;
    height: 1240px;
    border: 2px solid;
    font-size: 18px;
    line-height: 28px;

    div {
      min-height: $default-cell-height;
      line-height: 24px;
      box-sizing: border-box;

      span {
        display: inline-flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }

    .left-align-text {
      text-align: left;
      justify-content: flex-start;
    }

    .patient {
      display: grid;
      grid-template-columns: 21% 27.3% 34.1% 17.6%;

      div {
        border-bottom: 1px solid;
        border-right: 1px solid;

        &:nth-child(4), &:nth-child(8) {
          border-right: none;
        }
      }

      .period {
        letter-spacing: 3px;
        padding-left: 17px;
      }
    }

    .treatment {
      display: grid;
      grid-template-columns: 21% 27.3% 11.5% 16.8% 23.4%;

      div {
        border-bottom: 1px solid;
        border-right: 1px solid;

        &:nth-child(5), &:nth-child(10) {
          border-right: none;
        }
      }
    }

    .details-bill {
      display: grid;
      grid-template-columns: 63.3% 36.7%;
      line-height: normal;

      .left-bill {
        .left-bill-head {
          display: grid;
          grid-template-columns: 33.1% 12% 18.3% 13% 9.6% 14%;

          div {
            border-bottom: 1px solid;
            border-right: 1px solid;

            &:nth-child(4), &:nth-child(8) {
              border-right: none;
            }
          }

          .item {
            grid-row: 1/3;
          }

          .payment {
            grid-column: 2/5;
          }

          .non-benefit {
            grid-column: 5/7;
          }

          .partial-payment {
            display: grid;
            grid-row: 2;
            grid-column: 2/4;

            div {
              &:nth-child(2), &:nth-child(3) {
                border-bottom: none;
              }
            }

            .partial-payment-title {
              grid-column: 1/3;
            }
          }
        }

        .base-items {
          display: grid;
          grid-template-columns: 6.3% 26.8% 15.1% 15.2% 13% 9.7% 13.9%;
          line-height: 20px;

          div {
            border-bottom: 1px solid;
            border-right: 1px solid;
          }

          .classification {
            grid-row: 1/19;
            padding-left: 15px;
            line-height: 19px;
          }

          .column-2 {
            grid-column: 2/3;
          }

          .hospital-bills {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: 2/5;
            grid-column: 2;
            border-right: none;
            border-bottom: none;

            .row-3 {
              grid-row: 1/4;
            }
          }

          .pill-bills {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: 6/8;
            grid-column: 2;
            border-right: none;
            border-bottom: none;

            .row-2 {
              grid-row: 1/3;
            }
          }

          .shot-bills {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row: 8/10;
            grid-column: 2;
            border-right: none;
            border-bottom: none;

            .row-2 {
              grid-row: 1/3;
            }
          }
        }

        .optional-items {
          display: grid;
          grid-template-columns: 6.2% 27% 15% 15.4% 12.8% 9.7% 13.9%;

          div {
            border-bottom: 1px solid;
            border-right: 1px solid;
          }

          .classification {
            grid-row: 1/6;
            padding: 0 6px;
            line-height: 19px;
          }
        }

        .etc-items {
          display: grid;
          grid-template-columns: 33.1% 15.1% 15.2% 13% 9.7% 13.9%;

          div {
            border-bottom: 1px solid;
            border-right: 1px solid;

            &:first-child {
              padding: 2px 0;
            }

            span {
              &.left-align-text {
                position: relative;
                left: 4px;
                bottom: 2px;
              }
            }
          }
        }
      }

      .right-bill {
        display: grid;
        grid-template-columns: 22% 44% 34%;
        height: fit-content;
        letter-spacing: 1.2px;

        div {
          border-bottom: 1px solid;
          border-right: 1px solid;

          &:nth-child(odd) {
            border-right: none;
          }

          &:nth-child(11), &:nth-child(13), &:nth-child(15), &:nth-child(17), &:nth-child(19) {
            border-right: 1px solid;
          }

          &:nth-child(12), &:nth-child(14), &:nth-child(16), &:nth-child(18), &:nth-child(20) {
            border-right: none;
          }
        }

        .right-bill-head {
          grid-column: 1/4;
          height: fit-content;
        }

        .right-bill-title-1 {
          grid-column: 1/2;
          grid-row: 6/10;
        }

        .right-bill-title-2 {
          grid-column: 1/3;
          height: 59px;

          &.patient-bill {
            height: 116px;
          }

          &.default-height {
            height: $default-cell-height;
          }

          &.none {
            padding-left: 15px;
          }
        }

        .right-bill-title-3 {
          grid-column: 1/4;
        }

        .etc {
          border: none;
          padding: 5px;
          letter-spacing: 0.1px;
        }
      }
    }

    .bottom-bill {
      display: grid;
      grid-template-columns: 21% 9.5% 18.6% 4.8% 9.4% 10.5% 5.6% 0.8% 9% 11%;
      border-top: 1px solid;
      position: relative;
      top: -1px;

      div {
        border-bottom: 1px solid;
        border-right: 1px solid;

        span.left-align-text {
          position: relative;
          left: 4px;
          bottom: 2px;
        }
      }

      .empty {
        grid-column: 3/6;
      }

      .option-label {
        grid-column: 6/9;
      }

      .option-value {
        grid-column: 9/11;

        .left-align-text {
          position: relative;
          left: 15px;
        }
      }

      .hospital-value {
        grid-column: 2/11;

        .left-align-text {
          position: relative;
          left: 24px;
        }
      }

      .business-number-value {
        grid-column: 2/4;
      }

      .company-name-value {
        grid-column: 5/7;
      }

      .phone-number-label {
        grid-column: 7/10;
      }

      .company-address-value {
        grid-column: 2/6;
      }

      .ceo-label {
        grid-column: 6/8;
      }

      .ceo-value {
        grid-column: 8/11;

        span {
          justify-content: flex-end;
          padding-right: 40px;
          box-sizing: border-box;
        }
      }

      .date {
        grid-column: 1/11;
      }
    }
  }
}
